.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
  align-self: stretch;
}
.section__ukkM5 {
  position: relative;
  align-self: stretch;
}
.freeBox__jCpxF {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}
.freeBox__jCpxF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__jCpxF > :global(.__wab_flex-container) > *,
.freeBox__jCpxF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jCpxF > :global(.__wab_flex-container) > picture > img,
.freeBox__jCpxF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.freeBox__sglks {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: none;
  overflow: visible;
  align-self: auto;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__sglks > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-UEz8jpx4ZeEk));
  width: calc(100% + var(--token-UEz8jpx4ZeEk));
  margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
  height: calc(100% + var(--token-Tf_KtjkxGdsv));
}
.freeBox__sglks > :global(.__wab_flex-container) > *,
.freeBox__sglks > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sglks > :global(.__wab_flex-container) > picture > img,
.freeBox__sglks
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-UEz8jpx4ZeEk);
  margin-top: var(--token-Tf_KtjkxGdsv);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sglks > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: flex-start;
  }
}
.loadingboundaryartikel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__uExiD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productCard3:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  height: 400px;
  max-height: 400px;
  min-height: 400px;
  align-self: flex-start;
  width: auto;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard3:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.svg__faWnm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k5Tna {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sXqLr {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.h2__g0IZj {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-O9scgVK9qL_8Zb);
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
.article {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-overflow: ellipsis !important;
  overflow: hidden;
  min-width: 0;
}
.rating:global(.__wab_instance) {
  position: relative;
}
.section__abcku {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
  background: linear-gradient(#00000099, #00000099),
    url("/plasmic/chipsia/images/empingChipsWholesalejpg.jpg") top 50% left 50% / cover repeat;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__abcku {
    width: auto;
  }
}
.freeBox___18R4X {
  max-width: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox___18R4X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___18R4X > :global(.__wab_flex-container) > *,
.freeBox___18R4X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___18R4X > :global(.__wab_flex-container) > picture > img,
.freeBox___18R4X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___18R4X {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___18R4X > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___18R4X > :global(.__wab_flex-container) > *,
  .freeBox___18R4X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___18R4X > :global(.__wab_flex-container) > picture > img,
  .freeBox___18R4X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__zyRo9 {
  display: flex;
  flex-direction: column;
}
.freeBox__zyRo9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zyRo9 > :global(.__wab_flex-container) > *,
.freeBox__zyRo9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zyRo9 > :global(.__wab_flex-container) > picture > img,
.freeBox__zyRo9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5Hb9X {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___5Hb9X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5Hb9X > :global(.__wab_flex-container) > *,
.freeBox___5Hb9X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Hb9X > :global(.__wab_flex-container) > picture > img,
.freeBox___5Hb9X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__fvqw {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__p8OQ {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.text__ggHH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Pxe4wDL2kJpb);
  min-width: 0;
}
.freeBox___0Ne7X {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___0Ne7X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___0Ne7X > :global(.__wab_flex-container) > *,
.freeBox___0Ne7X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Ne7X > :global(.__wab_flex-container) > picture > img,
.freeBox___0Ne7X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Ne7X {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Ne7X > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Ne7X > :global(.__wab_flex-container) > *,
  .freeBox___0Ne7X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0Ne7X > :global(.__wab_flex-container) > picture > img,
  .freeBox___0Ne7X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__hiQ {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
  display: none;
}
.svg__uNnu1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fjagw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.whybanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__oMZoV {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__k5Yf9 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__l0NMn:global(.__wab_instance) {
  position: relative;
}
.svg__usIYg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fqK7Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__pGyUb {
  position: relative;
  flex-direction: row;
  display: none;
  padding: 32px;
}
.freeBox__pGyUb > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__pGyUb > :global(.__wab_flex-container) > *,
.freeBox__pGyUb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pGyUb > :global(.__wab_flex-container) > picture > img,
.freeBox__pGyUb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__qFup7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w4O8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yk3Jh {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__bOFut {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__rW7Tx:global(.__wab_instance) {
  position: relative;
}
.productCard5:global(.__wab_instance) {
  position: relative;
}
.svg__sf8T8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yAp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xv0GH {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__jq4Fu {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__mo3Qq:global(.__wab_instance) {
  position: relative;
}
.productCard6:global(.__wab_instance) {
  position: relative;
}
.svg___79J47 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ct2T2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dS7Hd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___9SZgg {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__ag8Bi:global(.__wab_instance) {
  position: relative;
}
.productCard7:global(.__wab_instance) {
  position: relative;
}
.svg__eEklT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d9Tky {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__u5DVv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fANwm {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__mHcfw:global(.__wab_instance) {
  position: relative;
}
.productCard8:global(.__wab_instance) {
  position: relative;
}
.svg__fOjVy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zzxbs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__rRg2O {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__nu61D {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__bFdxQ:global(.__wab_instance) {
  position: relative;
}
.productCard9:global(.__wab_instance) {
  position: relative;
}
.svg___6Xafh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hmFn9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jyIo4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__eDi9Q {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-O9scgVK9qL_8Zb);
  min-width: 0;
}
.rating__v8PHj:global(.__wab_instance) {
  position: relative;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  flex-direction: row;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  min-width: 0;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ysvqu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___5AgIc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__qHOwP {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__gqGkp {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__mqYuK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__brIkB:global(.__wab_instance) {
  position: relative;
}
.svg___8VSzs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uVxSy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ldjaF {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___7Lm9Q:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__n5Aht {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__vw8Wr {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__zttlg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__iUot3:global(.__wab_instance) {
  position: relative;
}
.svg__jxgk0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rZpdu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__jyxsj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__vPaJl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__vPaJl:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__gvo3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__bTa2X {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__tunKs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__oo0QA:global(.__wab_instance) {
  position: relative;
}
.svg__b2L96 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uJqqL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__pFqi {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container433 {
  --plsmc-rc-col-gap: 0px;
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ngxWa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__klneQ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__klneQ:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__gjBl {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__c8M2T {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__ucoou:global(.__wab_instance) {
  position: relative;
}
.svg__sisTt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__phnh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__crpUe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__drdch:global(.__wab_instance) {
  position: relative;
}
.svg__xRgWr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nyS9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__bJu6P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__rlP6D:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__rlP6D:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__xDKen {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___1DWe3 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___71U1P:global(.__wab_instance) {
  position: relative;
}
.svg__aNyr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uD8Bz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__yxXlh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__yvGfS:global(.__wab_instance) {
  position: relative;
}
.svg__saZyu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cFcc4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__r6Lgo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__lDtL8:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__lDtL8:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__dMWae {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__rC5Ny {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__pqD4:global(.__wab_instance) {
  position: relative;
}
.svg__x4OW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gi2Zn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zgjWe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___2U5Sj:global(.__wab_instance) {
  position: relative;
}
.svg__yidbG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3MvOo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__hdRz2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___2IfAz:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___2IfAz:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__jOsj1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___5XaWl {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__hob5Z:global(.__wab_instance) {
  position: relative;
}
.svg__c2Zit {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nTxwx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3RtFc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__me0Qc:global(.__wab_instance) {
  position: relative;
}
.svg__hhWrC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ggs1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
