.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.navBar:global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 99;
  align-self: stretch;
}
.section__y9KwG {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  background: var(--token-zy6xhYnWF8Y7);
  box-shadow: none;
  align-self: auto;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.section__y9KwG > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.section__y9KwG > :global(.__wab_flex-container) > *,
.section__y9KwG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__y9KwG > :global(.__wab_flex-container) > picture > img,
.section__y9KwG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.loadingBoundary:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__oyFqK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__q3TE6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  top: auto;
  left: auto;
  align-self: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q3TE6 {
    display: flex;
  }
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre-wrap;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    left: auto;
    top: auto;
  }
}
.text__tzhdR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 90%;
  width: 90%;
  box-shadow: 0px 4px 16px 0px #00000012;
  border-radius: 10px;
  margin: 10px;
}
.img > picture > img {
  object-fit: contain;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.columns__bo745 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  align-self: center;
  background: none;
  box-shadow: 0px 2px 4px 0px #0000001c;
  min-width: 0;
  border-radius: 3px;
  padding: 2px;
  margin: 10px;
}
.columns__bo745 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  --plsmc-rc-col-gap: 5px;
}
.columns__bo745 > :global(.__wab_flex-container) > *,
.columns__bo745 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bo745 > :global(.__wab_flex-container) > picture > img,
.columns__bo745
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.columns__bo745 {
  --plsmc-rc-col-gap: 0px;
}
.columns__bo745 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bo745 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bo745 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bo745 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bo745 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__m27Xn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__al7Sd {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___7Psy8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.columns___9Aemi {
  --plsmc-rc-col-gap: 0px;
}
.columns___9Aemi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px;
}
.columns___9Aemi > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns___9Aemi > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Aemi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Aemi > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9Gulm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 4px;
}
.text__twAli {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.column__yY0Lb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 4px;
}
.cite {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-decoration-line: none;
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
.freeBox__mcN8W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 4px;
}
.columns__v9Di {
  --plsmc-rc-col-gap: 0px;
}
.columns__v9Di {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px;
}
.columns__v9Di > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns__v9Di > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v9Di {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v9Di > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__akLr3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 4px;
}
.text__lyzV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.column__qIz0D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 4px;
}
.aside {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-decoration-line: none;
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
.column__ktgF6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.dd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kzT08fQBAHgz);
  line-height: 1.2;
  min-width: 0;
}
.text___6Jgfc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kzT08fQBAHgz);
  line-height: 1.6;
  min-width: 0;
  margin: 10px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  text-align: center;
  min-width: 0;
}
.contactsection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section__fg0FC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
  flex-wrap: wrap;
  align-self: stretch;
  align-content: center;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox___3F4U {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.text___4W88 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre-wrap;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__ohZw9:global(.__wab_instance) {
  position: relative;
}
.svg__kTgAr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__i5Zwv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__j6J74 {
  position: relative;
  flex-direction: row;
  display: none;
  padding: 32px;
}
.freeBox__j6J74 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__j6J74 > :global(.__wab_flex-container) > *,
.freeBox__j6J74 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j6J74 > :global(.__wab_flex-container) > picture > img,
.freeBox__j6J74
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__iNiFx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mlDuz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___4Af5V {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__a6Ay {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__sqUk2:global(.__wab_instance) {
  position: relative;
}
.productCard2:global(.__wab_instance) {
  position: relative;
}
.svg__fmr6O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tRnb2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qaCiN {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__cygY {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__yQzts:global(.__wab_instance) {
  position: relative;
}
.productCard3:global(.__wab_instance) {
  position: relative;
}
.svg___1AoiB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9QzM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___3VJd5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___0BRDt {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__jeu0O:global(.__wab_instance) {
  position: relative;
}
.productCard4:global(.__wab_instance) {
  position: relative;
}
.svg__cIIg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__se6Z5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__p2MBy {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__cfHjU {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating___0Qa7N:global(.__wab_instance) {
  position: relative;
}
.productCard5:global(.__wab_instance) {
  position: relative;
}
.svg__zs7F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bAxL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ea76P {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__f5Ucp {
  width: 100%;
  height: auto;
  color: var(--token-O9scgVK9qL_8Zb);
  text-align: left;
  min-width: 0;
}
.rating__boE7:global(.__wab_instance) {
  position: relative;
}
.productCard6:global(.__wab_instance) {
  position: relative;
}
.svg__t5QgG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n8WM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__l7Mt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__eZoGm {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-O9scgVK9qL_8Zb);
  min-width: 0;
}
.rating__h17Zr:global(.__wab_instance) {
  position: relative;
}
.section__kmwiJ {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container433 {
  --plsmc-rc-col-gap: 0px;
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wy6Wf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__cPZ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__cPZ:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__zbQ {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__g3YWe {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__vOsz5:global(.__wab_instance) {
  position: relative;
}
.svg__bd1Cw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dUsLl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dkiO6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__hYsfa:global(.__wab_instance) {
  position: relative;
}
.svg__c7Zxj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tagZf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__uip4O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___5EbG7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___5EbG7:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__xWoxp {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__h4S0H {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__kgV0:global(.__wab_instance) {
  position: relative;
}
.svg__vVyw9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__acYBd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__la1Vv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__xXwu:global(.__wab_instance) {
  position: relative;
}
.svg__bQgBo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bhJkJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__mshEt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__sgHgk:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__sgHgk:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__uDqok {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__fnW1U {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___4XF8P:global(.__wab_instance) {
  position: relative;
}
.svg__d4U2H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pvQv8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___4ZhHu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__fD0Hd:global(.__wab_instance) {
  position: relative;
}
.svg__x5UJq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mdVGk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__xx1Ea {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__rpW2:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__rpW2:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__ynxV {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___7XyBx {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__naLb2:global(.__wab_instance) {
  position: relative;
}
.svg___0Hl1V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ufsBh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hbMaE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__d7ZvE:global(.__wab_instance) {
  position: relative;
}
.svg___3SCs5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dixHr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
